
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <link href="public/css/setup-sidebar.css" rel="stylesheet">
</head>
<body>

<div id="sidebar-wrapper">

    <div class="sidebar-nav">
        <div id="logo-title">
            <div class="img-left">
                <img id="logo_primary" src="public/img/dogBone.jpg">
            </div>
            <div class="img-right">
                <img id="logo_mwsi" src="public/img/doggy.png">
            </div>
        </div>



        <div class="sidebar-item">
            <div class="center">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title panel-title-header">
                                Dogs on the Prowel
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                        </div>
                    </div>

                </div>





        <div class="sidebar-item">
            <div class="center">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a id="details-info" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="details-text"><span class="info-ic"></span>Friends</p><span class="rightarrow-ic pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
														
                                
																	<%doglist.dogs[0].friends.forEach(
																		(friend) => {
																			%>
																				<% if (friend.friendly === true) { %>
																					<ul class="details-list">
																						<li><%=friend.F_name%></li>
																						<li><%=friend.F_sex%></li>
																						<li><%=friend.F_desc%></li>
																					</ul>
																				<% } %>
																		<% }
																	)%>
                            </div>
                        </div>
                    </div>

                </div>


        </div>
        </div>

        <div class="sidebar-item">
            <div class="center">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a id="details-info" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="details-text"><span class="info-ic"></span>Local Dogs On Walks</p><span class="rightarrow-ic pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="details-list">
                                     <ul class="details-list">
                                    <li >Dog's Name: <input type="text" value=""></li>
                                    <li >Sex: <input type="text" value=""></li>
                                    <li>Rating: <input type="text" value=""> </li>
                                    <li>Distance From: <input type="text" value=""></li>

                                </ul>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>


        </div>
        </div>


<div class="sidebar-item">
            <div class="center">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a id="details-info" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="details-text"><span class="info-ic"></span>Look Out</p><span class="rightarrow-ic pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
															
																<%doglist.dogs[0].friends.forEach(
																	(friend) => {
																		%>
																			<% if (friend.friendly === false) { %>
																				<ul class="details-list">
																					<li><%=friend.F_name%></li>
																					<li><%=friend.F_sex%></li>
																					<li><%=friend.F_desc%></li>
																				</ul>
																			<% } %>
																	<% }
																)%>
                            </div>
                        </div>
                    </div>

                </div>


        </div>
        </div>

        <div class="sidebar-item">
            <div class="center">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a id="details-info" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="details-text"><span class="info-ic"></span>Your Dog's Bio</p><span class="rightarrow-ic pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="details-list">
                                     <ul class="details-list">
                                    <li >Dog's Name: <input type="text" value=""></li>
                                    <li >Sex: <input type="text" value=""></li>
                                    <li>Rating: <input type="text" value=""> </li>
                                    <li>Distance From: <input type="text" value=""></li>

                                </ul>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>


        </div>
        </div>

    </div>



    <!--
    <div id="AdditionalSettings" class="additional-settings"> -->

    </div>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="public/support/bootstrap.min.js"></script>
    <script>
        $( function() {
            $( "#slider" ).slider();
        } );
    </script>


</div>

</body>
</html>
