<link rel="stylesheet" href="/public/css/sidebar.css"/>
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Dogs on the Prowel</h3>
        <stong>P.W</stong>
        <!-- strong should have puppy walk logo-->
    </div>

    <div class="panel-group center-panel">
        <!--Section for known friends-->
        <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
            <div class="panel-heading puppy-friend">
                Friends
            </div>
            <div class="panel-body panel-collapse">
                <ul class="list-group components" id="puppyFriendsList">
                    <%doglist.dogs[0].friends.forEach(
                        (friend) => { %>
                        <% if (friend.friendly === true) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="../../public/img/icon_holder.png" class="img-rounded" width="auto" height="50px">
                                    </div>
                                    <!--<div class="col-sm-1"></div>-->
                                    <div class="col-sm-4">
                                        <!-- Dog Name -->
                                        <p class="list-group-item-heading">
                                            <%=friend.F_name%>
                                        </p>
                                        <p class="List-group-item-text">
                                            <!-- Dogs Sex -->
                                            <%=friend.F_sex%>
                                        </p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="list-group-item-text">
                                            <!--{dog size}-->
                                            <img src="../../public/img/dogChart.jpg" class="img-rounded" width="auto" height="50px">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            <%=friend.F_desc%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        <% }
                    )%>
                </ul>
            </div>
        </div>
        <!--Section for potential friends-->
        <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
            <div class="panel-heading puppy-potential">
                Potential Friends
            </div>
            <div class="panel-body panel-collapse">
                <ul class="list-group components" id="puppyPotentialList">
                    <%doglist.dogs[1].potential.forEach(
                        (potential) => { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="public/img/icon_holder.png" class="img-rounded" width="auto" height="50px">
                                    </div>
                                    <!--<div class="col-sm-1"></div>-->
                                    <div class="col-sm-4">
                                        <!-- Dog Name -->
                                        <p class="list-group-item-heading">
                                            <%=potential.P_name%>
                                        </p>
                                        <p class="List-group-item-text">
                                            <!-- Dogs Sex -->
                                            <%=potential.P_sex%>
                                        </p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="list-group-item-text">
                                            <!--{dog size}-->
                                            <img src="../../public/img/dogChart.jpg" class="img-rounded" width="auto" height="50px">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                                <%=potential.P_desc%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <% }
                    )%>
                </ul>
            </div>
        </div>

        <!--Section for dog warnings-->
        <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
            <div class="panel-heading puppy-warning">
                Warnings
            </div>
            <div class="panel-body panel-collapse">
                <ul class="list-group components" id="puppyWarningsList">
                    <%doglist.dogs[0].friends.forEach(
                        (friend) => { %>
                        <% if (friend.friendly === false) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="../../public/img/icon_holder.png" class="img-rounded" width="auto" height="50px">
                                    </div>
                                    <!--<div class="col-sm-1"></div>-->
                                    <div class="col-sm-4">
                                        <!-- Dog Name -->
                                        <p class="list-group-item-heading">
                                            <%=friend.F_name%>
                                        </p>
                                        <p class="List-group-item-text">
                                            <!-- Dogs Sex -->
                                            <%=friend.F_sex%>
                                        </p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="list-group-item-text">
                                            <!--{dog size}-->
                                            <img src="../../public/img/dogChart.jpg" class="img-rounded" width="auto" height="50px">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                                <%=friend.F_desc%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        <% }
                    )%>
                </ul>
            </div>
        </div>

        <!-- Current dogs bio -->
        <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
            <div class="panel-heading my-puppy-bio">
                <%=doglist.dogs[0].dogName%>'s Bio
            </div>
            <div class="panel-body panel-collapse">
                <ul class="list-group components" id="puppyStatListing">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="../../public/img/icon_holder.png" class="img-rounded" width="auto" height="50px">
                            </div>
                            <!-- Maybe convert this to be a table? -->
                            <div class="col-sm-3">
                                <p class="list-group-item-heading">
                                    <%=doglist.dogs[0].dogName%>
                                </p>
                                <p class="List-group-item-text">
                                    Sex: <%=doglist.dogs[0].sex%>
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="list-group-item-text">
                                    Size: <%=doglist.dogs[0].size%>
                                </p>
                                <p class="list-group-item-text">
                                    Distance: <%=doglist.dogs[0].totalDistance%>km
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="list-group-item-bio">
                                    <!--{Puppy Bio!}-->
                                    <%=doglist.dogs[0].desc%>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</nav>

<div id="content">
    <button type="button" data-toggle="collapse" href="" #collapseSideBar id="sidebarCollapse" class="btn btn-info navbar-btn">
        Toggle
    </button>
</div>